// Icon and version info for RDR2FullFrame.exe.
// Compiled with windres and linked into the exe (see Makefile).

#include <windows.h>

// Application icon (shown in Explorer, the taskbar and Alt-Tab).
1 ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "hungr1yuri"
            VALUE "FileDescription",  "RDR2FullFrame - removes RDR2 cutscene black bars"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "RDR2FullFrame"
            VALUE "LegalCopyright",   "Copyright (c) 2026 hungr1yuri"
            VALUE "OriginalFilename", "RDR2FullFrame.exe"
            VALUE "ProductName",      "RDR2FullFrame"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
